body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
h1 {
    color: black;
    text-align: center;
    width: 100%;
    display: block;
}

.assign {
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: lightblue;
    display: block; 
    width: 20%;
    
}

.assign img {
    width: 200px;
    margin: 10px;
}
.assign img:hover {
    width: 200px;
    margin: 10px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color:gray;
    width: 100%;
}